<h1>----------------------------------------</h1>
<h1>Directivas *ng</h1>
<div class="container mt-4">
    <div class="row">
        <h2>Listado de estudiantes</h2>
        <button class="btn btn-primary col-2" (click)="mostrarNoMostrar()">Mostrar / No Mostrar</button>
    </div>
    <br>
    <br>
    <table class="table" *ngIf="mostrar==true">
        <thead>
            <th>Nro</th>
            <th>Nombre</th>
            <th>Estado</th>
        </thead>
        <tbody>
            <tr *ngFor="let est of listadoEstudiantes; let i= index ">
                <td>{{i+1}}</td>
                <td>{{est.nombre}}</td>
                <td>{{est.estado}}</td>
            </tr>
           
        </tbody>


    </table>

</div>